body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e0ecf8, #f8fafc);
}
/* Navbar */
 nav {
  background-color: #1e293b;
  padding: 15px;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  color: #38bdf8;
}

/* Main container */
.container {
  padding: 30px;
  text-align: center;
}

/* Headings */
h1 {
  color: #1e293b;
}

h2 {
  color: #141c28;
}
.title {
  text-align: center;
  margin-top: 30px;
  font-size: 36px;
  color: #1e293b;
}
/* Cards */
.card {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
.card:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
.profile {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 40px auto 20px;
}
/* Links */
a {
  color: #2563eb;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: white;
  background-color: #2563eb;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
}

a:hover {
  background-color: #1d4ed8;
}